@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body{
    padding: 10%;
}

#boton{
    margin: 20px;
    height: 50px;
    width: 200px;
    font-size: 21px;
    background-color: #2a9d8f;
    border-radius:15px;
    border: solid #264653;
}

#resultado{
    /* border: solid 2px #264653; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    border:solid 2px#264653;
}
td,th{
    border: solid 2px #264653;
}